/*
table    { display: table }
tr       { display: table-row }
thead    { display: table-header-group }
tbody    { display: table-row-group }
tfoot    { display: table-footer-group }
col      { display: table-column }
colgroup { display: table-column-group }
td, th   { display: table-cell }
caption  { display: table-caption }
*/


body {
	color: darkslategrey;
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}


di-table {
	background-color: transparent;
	border-collapse: collapse;
    border-spacing: 0;
	display: table;
	max-width: 100%;
	width: 100%;
}


di-table > di-table-head {
	display: table-header-group;
}

di-table > di-table-head > di-table-head-row {
	display: table-row;
}

di-table > di-table-head > di-table-head-row > di-table-head-row-cell {
	border-top: 0;
	border-bottom: 2px solid #ddd;
	display: table-cell;
	font-weight: bold;
	line-height: 1.5;
	padding: 8px;
	text-align: left;
	vertical-align: bottom;
	white-space: nowrap;
}

di-table > di-table-body {
	display: table-row-group;
}

di-table > di-table-body > di-table-body-row {
	display: table-row;
}

di-table > di-table-body > di-table-body-row > di-table-body-row-cell {
	border-top: 1px solid #ddd;
	border-bottom: 0;
	display: table-cell;
	line-height: 1.5;
	padding: 8px;
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
}